/* SignUpForm.module.css */
.formContainer {
    width: 400px;
    margin: 1% auto;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
  }
  
  .error {
    color: red;
  }
  
  .signInLink {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  